@import "src/styles/colors";

.image {
  width: 500px;
  height: 500px;
}

.comment_container {
  overflow: auto;
  height: 380px;
  width: 300px;
  border-radius: 2px;
  margin-bottom: 12px;

  .text_container {
    display: flex;
    flex-direction: column;
    padding: 7px;
    border-radius: 2px;
    margin-bottom: 15px;
    border: 1px solid $color-light-900;

    .header_block {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        cursor: pointer;
      }
    }
  }
}

.add_comment {
  display: flex;
}
