@import 'src/styles/mixins';
@import 'src/styles/colors';

.containerMain {
  @include flex-block($flex-direction: row);

  width: 100%;
  border-bottom: 1px solid $color-dark-300;

  .container {
    width: 100%;

    .content {
      @include flex-block($flex-direction: row, $justify-content: space-between);

      width: 100%;
      margin: 0 auto;

      .text {
        display: block;
        padding: 12px 0 12px 90px;
      }
    }
  }
}
