@import 'src/styles/mixins';
@import 'src/styles/colors';

.card {
  width: 100%;
  max-width: 378px;
  padding: 1.44rem 1.5rem 1.5rem;

  .content {
    @include flex-block;

    width: 100%;

    .title {
      margin-bottom: 13px;
    }


    .form {
      width: 100%;

      .field {
        margin-bottom: 24px;
      }

      .passField {
        margin-bottom: 36px;
      }

      .fieldWithError {
        margin-bottom: 12px
      }

      .singIn {
        margin-bottom: 18px;
      }
    }
  }
}
